@model GeekTest.Models.questions

@{
    ViewBag.Title = "Create";
}

<h2>Добавить вопрос</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>questions</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.question)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.question)
            @Html.ValidationMessageFor(model => model.question)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parent_test)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parent_test)
            @Html.ValidationMessageFor(model => model.parent_test)
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
