@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2 style="font-weight:600">@ViewBag.Title</h2>
                <p style="font-size:1.1em; font-weight:600; padding-left:5px">Осталось времени:
                    <text id="countdown"> </text>
                </p>
            </hgroup>
        </div>
    </section>
}
<html>
<head>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @* Скрипт для отсчета времени до завершения теста *@
    <script>
        var duration = @ViewBag.Duration

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = 0;
                alert('Время вышло.');
                location.href = '@Url.Action("Index", "Results", new { index = @ViewBag.Index }, null)';
            }
        }, 1000);
    }
    
    window.onload = function () {
        var Minutes = 60 * duration,
            display = document.querySelector('#countdown');
        startTimer(Minutes, display);
    };
    </script>
    <script src="~/Scripts/loadQuestion.js"></script>
</head>
<body>
    <script>
        var tmp = @Html.Raw(Json.Encode(ViewBag.QuestionsIDs))
        load(@ViewBag.Index);
    </script>

    @for (int i = 1; i <= ViewBag.QuestionsCount; i++)
    {        
        @Ajax.ActionLink(@i.ToString(), "GetQuestion", new { parentQuestion = ViewBag.QuestionsIDs[i-1] },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "divQuestion",
            InsertionMode = InsertionMode.Replace
        })
    }
    
    <div id="divQuestion"></div>
    
    <input type="button" id="replyButton" value="Ответить" onclick="load(@ViewBag.Index);" />

    <br />
    <input type="button" id="finishButton" value="Закончить тест" 
           onclick="finishTest('Вы действительно хотите завершить прохождение теста?', @ViewBag.Index)" />
</body>
</html>