@model IEnumerable<GeekTest.Models.answers>

@{
    ViewBag.Title = "Index";
}

<h2>Варианты ответов</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correct_answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parent_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correct_answer)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Назад", "../Admin/Index")
</p>
