@model GeekTest.Models.UserProfile

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>
<br />
<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Назад", "Index", "Users")
</p>
