@model IEnumerable<GeekTest.Models.results>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.test_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Назад", "Index")
</p>
